@{
    ViewBag.Title = "About";
}
<div class="container img-thumbnail">

    <!-- Portfolio Item Heading -->
    <h3 class="my-3 h3 text-uppercase text-center bg-primary p-2 text-white">About Biosol india</h3>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid shadow" src="~/Images/Biosol_india_office.JPG" alt="BIOSOL INDIA">
        </div>

        <div class="col-md-4 shadow">
            <p class="text-justify">
                BIOSOL INDIA was established in 2012 by a team of aquaculture expertise with a transcend vision of attaining
                world class products through the firm commitment and continuous effort in a teamwork.
            </p>
            <p class="text-justify">
                The company is devoted towards sustainable aquaculture with a firm & innovative research & development
                projects. The team has an experience of over 10 years in the field of aquaculture. The R & D consisting of
                technical experts having experience of over 20 years in healthcare sector which supported with the various
                trial results and feedback from the field.
            </p>
            <p class="text-justify">
                Our wide range of products cater farmers expectations and aquaculture requirements. We believe in up
                gradation in techniques & technology with the passage of time therefore our products are trusted and
                appreciated for the quality in different division of aqua healthcare like diseases Control nutritional
                Supplement and ponds water management.
            </p>

        </div>

    </div>
</div>

<!-- /.row -->
