@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <ul class="biosoil-banner">
            <li>
                <span></span>
                <div class="container">
                    <h1 class="py-4 px-5 sd-inline-block position-absolute">
                        <div>Trust In <strong>Quality</strong></div>
                        <div><strong>Best</strong> In Product </div>
                    </h1>
                </div>
            </li>
            <li>
                <span></span>
                <div class="container">
                    <h1 class="py-4 px-5 sd-inline-block position-absolute">
                        <div>Trust In <strong>Quality</strong></div>
                        <div><strong>Best</strong> In Product </div>
                    </h1>
                </div>
            </li>
            <li>
                <span></span>
                <div class="container">
                    <h1 class="py-4 px-5 sd-inline-block position-absolute">
                        <div>Trust In <strong>Quality</strong></div>
                        <div><strong>Best</strong> In Product </div>
                    </h1>
                </div>
            </li>


        </ul>

        @*<div id="carouselExampleIndicators" class="carousel slide h-50" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/Biosol_India_slide1.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Biosol_India_slide2.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Biosol_India_slide3.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Biosol_India_slide4.JPG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>*@


    </div>
    <div class="container marketing">

        <div class="row featurette">
            <div class="col-md-5">
                <img src="~/Images/Biosol_india_office.JPG" class="img-fluid" alt="BiosolIndia Office" />
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Getting started
                    <hr class="border-bottom border-warning">
                </h2>

                <p class="lead">
                    BIOSOL INDIA was established in 2012 by a team of aquaculture expertise with a
                    transcend vision of attaining world class products through the firm commitment and continuous
                    effort in a teamwork.
                </p>
                <p class="lead">
                    The company is devoted towards sustainable aquaculture with a firm & innovative research &
                    development projects. The team has an experience of over 10 years in the field of aquaculture.
                    The R & D consisting of technical experts having experience of over 20 years in healthcare
                    sector which supported with the various trial results and feedback from the field.
                </p>
                <a href="#" class="text-success text-decoration "> Read More...</a>
            </div>

        </div>
        <h2 class="featurette-heading mx-auto w-25 text-center mt-5">
            Our Products
            <hr class="border-bottom border-warning">
        </h2>
    </div><!-- /.container -->

    <div class="jumbotron my-4 bg-success py-5">
        <div class="container">

            <div class="row featurette text-white">

                <div class="col-md-3 ">
                    <a href="#" class="image fit">
                        <img src="~/Images/Products/GutBalance_Product.png" alt="gutbalance" class="img-fluid rounded" />
                        </a>
                </div>
                <div class="col-md-3 border-right">
                    <h3>GUTBALANCE</h3>
                    <p>
                        For gut Infection in Shrimp
                        (Feed Supplement)
                    </p>
                    <h5>Constituents</h5>
                    <p>
                        A blend of Herbal Extracts, Vitamins & Minerals
                    </p>
                    <h5>PRESENTATION</h5>
                        <p>500 gms & 1 kg</p>
                  </div>
                <div class="col-md-6 ">
                    <div class="row pl-2">
                        <h4 class="featurette-heading">Key Features & Benefits</h4>
                        <ul class="pl-4">
                            <li class="mb-2">Enhances immune system & FCR.</li>
                            <li class="mb-2"> Prevents & cures white gut & white fecal syndrome in shrimp.</li>
                            <li class="mb-2"> Enhances beneficial bacterial population in gut.</li>
                            <li class="mb-2"> Helps to improve digestion & nutrients utilization.</li>
                            <li class="mb-2"> Sustains immune against microbial infections mainly in the gut.</li>
                        </ul>
                    </div>
                    <hr class="text-white"/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 border-right">
                            <h4 class="featurette-heading">DOSAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">5 – 10 gms/kg feed with good binder.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="featurette-heading">STORAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">Store in cool & dry place.</li>
                                <li class="mb-2">Keep away from heat & moisture.</li>
                            </ul>
                        </div>
                  </div>

                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron my-4 bg-white py-5">
        <div class="container">

            <div class="row featurette">

                <div class="col-md-3 border-right">
                    <h3>BIODSTRESS</h3>
                    <p>
                        SPECIALLY FOR LSS & STRESS MANAGEMENT (FEED SUPPLEMENT)
                    </p>
                    <h5>Constituents</h5>
                    <p>
                        Enzymes, Vitamins, Proteins, Fatty acids, Minerals etc.
                    </p>
                    <h5>PRESENTATION</h5>
                    <p>1Kg</p>
                </div>
                <div class="col-md-6 ">
                    <div class="row pl-2">
                        <h4 class="featurette-heading">Key Features & Benefits</h4>
                        <ul class="pl-4">
                            <li class="mb-2">Works effectively against loose shell & white guts.</li>
                            <li class="mb-2"> Improves digestion of feed in shrimp.</li>
                            <li class="mb-2"> Maximize feed intake and minimize feed wastage.</li>
                            <li class="mb-2"> Enhances growth rate.</li>
                            <li class="mb-2"> Maintain good health which prevents stress to the shrimp</li>
                        </ul>
                    </div>
                    <hr class="text-white" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 border-right">
                            <h4 class="featurette-heading">DOSAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">5 to 10 gms/kg feed or as advised by the aqua consultant.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="featurette-heading">STORAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">Store in cool & dry place.</li>
                                <li class="mb-2">Keep away from heat & moisture.</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 ">
                    <a href="#" class="image fit">
                        <img src="~/Images/Products/BioDstress.png" alt="BIODSTRESS" class="img-fluid rounded" />
                        </a>
                </div>

            </div>

        </div>
    </div>
    <div class="jumbotron my-4 bg-success py-5">
        <div class="container">

            <div class="row featurette text-white">

                <div class="col-md-3 ">
                    <img src="~/Images/Products/BioMinPlus.png" alt="gutbalance" class="img-fluid rounded" />
                </div>
                <div class="col-md-3 border-right">
                    <h3>BIOMIN PLUS</h3>
                    <p>
                        MINERALS SUPPLEMENT
                    </p>
                    <h5>Constituents</h5>
                    <p>
                        Trace minerals and ions with organic modifier
                    </p>
                    <h5>PRESENTATION</h5>
                    <p>10Kg</p>
                </div>
                <div class="col-md-6 ">
                    <div class="row pl-2">
                        <h4 class="featurette-heading">Key Features & Benefits</h4>
                        <ul class="pl-4">
                            <li class="mb-2"> Easy solubility in pond water & bio-availability.</li>
                            <li class="mb-2"> Sustains perfect acid-base equilibrium in the ponds.</li>
                            <li class="mb-2"> Enhances moulting frequency.</li>
                            <li class="mb-2"> Prevents loose shell & soft shell.</li>
                            <li class="mb-2"> Maintains pH, hardness, alkalinity & nutrients need.</li>
                        </ul>
                    </div>
                    <hr class="text-white" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 border-right">
                            <h4 class="featurette-heading">DOSAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">5 kg/acre or as advised by the aqua consultant.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="featurette-heading">STORAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">Store in cool & dry place.</li>
                                <li class="mb-2">Keep away from heat & moisture.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron my-4 bg-white py-5">
        <div class="container">

            <div class="row featurette">

                <div class="col-md-3 border-right">
                    <h3>BIOSANTRA-AQUA</h3>
                    <p>
                        DISINFECTANT FOR SHRIMP PONDS
                    </p>
                    <h5>Constituents</h5>
                    <p>
                        Potassium monopersulphate compound
                    </p>
                    <h5>PRESENTATION</h5>
                    <p>1 kg</p>
                </div>
                <div class="col-md-6 ">
                    <div class="row pl-2">
                        <h4 class="featurette-heading">Key Features & Benefits</h4>
                        <ul class="pl-4">
                            <li class="mb-2"> Sustains good water quality for pond eco system.</li>
                            <li class="mb-2"> Severely effective against bacteria, viruses & fungi.</li>
                            <li class="mb-2"> Oxidize toxic gases like hydrogen sulphide, ammonia etc.</li>
                            <li class="mb-2"> Degrades bottom sludge and maintain water quality.</li>
                            <li class="mb-2"> Biodegradable & non toxic.</li>
                        </ul>
                    </div>
                    <hr class="text-white" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 border-right">
                            <h4 class="featurette-heading">DOSAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">500 gms/acre in normal condition and 1 kg in severe condition.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="featurette-heading">STORAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">Store in cool & dry place.</li>
                                <li class="mb-2">Keep away from heat & moisture.</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 ">
                    <img src="~/Images/Products/BioSantra-1.png" alt="BioSantra" class="img-fluid rounded" />
                </div>

            </div>

        </div>
    </div>
    <div class="jumbotron my-4 bg-success py-5">
        <div class="container">

            <div class="row featurette text-white">

                <div class="col-md-3 ">
                    <img src="~/Images/Products/SludgeClean.png" alt="Sludge Clean" class="img-fluid rounded" />
                </div>
                <div class="col-md-3 border-right">
                    <h3>Sludge Clean</h3>
                    <p>
                        MINERALS SUPPLEMENT
                    </p>
                    <h5>Constituents</h5>
                    <p>
                        Trace minerals and ions with organic modifier
                    </p>
                    <h5>PRESENTATION</h5>
                    <p>10Kg</p>
                </div>
                <div class="col-md-6 ">
                    <div class="row pl-2">
                        <h4 class="featurette-heading">Key Features & Benefits</h4>
                        <ul class="pl-4">
                            <li class="mb-2"> Easy solubility in pond water & bio-availability.</li>
                            <li class="mb-2"> Sustains perfect acid-base equilibrium in the ponds.</li>
                            <li class="mb-2"> Enhances moulting frequency.</li>
                            <li class="mb-2"> Prevents loose shell & soft shell.</li>
                            <li class="mb-2"> Maintains pH, hardness, alkalinity & nutrients need.</li>
                        </ul>
                    </div>
                    <hr class="text-white" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 border-right">
                            <h4 class="featurette-heading">DOSAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">5 kg/acre or as advised by the aqua consultant.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="featurette-heading">STORAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">Store in cool & dry place.</li>
                                <li class="mb-2">Keep away from heat & moisture.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron mb-4 bg-white py-4">
        <div class="container">

            <div class="row featurette text-dark">

                <div class="col-md-3 ">
                    <img src="~/Images/Products/BioProbac-2.png" alt="bionutrizyme" />
                </div>
                <div class="col-md-3 border-right">
                    <h3>BIOPROBAC</h3>
                    <p>
                        POND PROBIOTIC FOR WATER & SOIL
                    </p>
                    <h5>Constituents</h5>
                    <p>
                        Nitrobacteria, Lactobacillus, Actinomycetes etc.
                    </p>
                    <h5>PRESENTATION</h5>
                    <p>500 gms & 1Kg</p>
                </div>
                <div class="col-md-6 ">
                    <h4 class="featurette-heading">Key Features & Benefits</h4>
                    <ul class="pl-4">
                        <li class="mb-2"> Excellently works on both medium water & soil in the pond.</li>
                        <li class="mb-2"> Prevents pathogenic bacteria, specifically vibrio in the pond.</li>
                        <li class="mb-2"> Increases the growth of beneficial bacteria & phytoplankton.</li>
                        <li class="mb-2"> Enhances water purification process through slugs degradation.</li>
                        <li class="mb-2"> Prevents formation of toxic gases & improves survival.</li>

                    </ul>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 border-right">
                            <h4 class="featurette-heading">DOSAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">500 gms/acre or as advised by the aqua consultant.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="featurette-heading">STORAGE</h4>
                            <ul class="pl-4">
                                <li class="mb-2">Store in cool & dry place.</li>
                                <li class="mb-2">Keep away from heat & moisture.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="~/Home/Products" target="_parent">
                    <div type="button" class="btn btn-success rounded-0 p-1 ">
                        <span class="border-5 d-block px-4 py-1 ">
                            Click here for more Products

                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="jumbotron mb-5 services-bg py-5">
        <div class="container">

            <div class="row featurette text-white">
                <div class="col-md-8 bg-success p-4">
                    <h3>Our Services</h3>
                    <hr class="border-white">
                    <p class="lead">
                        The company is devoted towards sustainable aquaculture with a firm & innovative research &
                        development projects. The team has an experience of over 10 years in the field of
                        aquaculture.
                        The R & D consisting of technical experts having experience of over 20 years in healthcare
                        sector which supported with the various trial results and feedback from the field.
                    </p>
                    <p class="lead">

                        The R & D consisting of technical experts having experience of over 20 years in healthcare
                        sector which supported with the various trial results and feedback from the field.
                    </p>
                </div>

                <div class="col-md-4  p-4">
                    <a href="#" class="image fit">
                        <img src="~/Images/Products/BioProbac.png" alt="Our Services" />
                        </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container my-5">
        <h2 class="text-center"><span class="border-bottom border-warning"> Feedback From our Clients</span></h2>
        <p class="lead text-center mx-5 my-3">
            Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of your website or app
            where content is not the main concern of the developer.
        </p>
        <div class="d-flex justify-content-center my-5 flex-wrap flex-lg-nowrap">
            <div class="shadow d-flex mr-0 mb-4 mr-lg-4 p-3 testi-bg">
                <div class="align-self-start mr-3 ">
                    <div class="rounded-circle bg-success overflow-hidden px-3 pt-1 ">
                        <img src="~/images/avatar.png" class="mt-1" alt="biosolindia" />
                    </div>
                </div>
                <div>
                    <h5>Name Goes Here</h5>
                    <p class="text-success mb-3">Happy Customer</p>
                    <p class="lead">
                        “ Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of your
                        website or app where content is not the main concern of the developer.
                        website or app where content is not the main concern of the developer.
                        ”

                    </p>
                </div>
            </div>

            <div class="d-flex shadow p-3 testi-bg  mb-4 mr-lg-4">
                <div class="align-self-start mr-3 ">
                    <div class="rounded-circle bg-success overflow-hidden px-3 pt-1 ">
                        <img src="~/images/avatar.png" class="mt-1" alt="biosolindia" />
                    </div>
                </div>
                <div>
                    <h5>Name Goes Here</h5>
                    <p class="text-success mb-3">Happy Customer</p>
                    <p class="lead">
                        “ Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of your
                        website or app where content is not the main concern of the developer.
                        website or app where content is not the main concern of the developer.
                        ”

                    </p>
                </div>
            </div>

            <div>

            </div>
        </div>

        <h2 class="text-center mb-5"> <span class="border-bottom border-warning pb-2">Our Team</span></h2>
        <div class="row">
            <div class="col-12 col-lg-4  text-center">
                <div class="mr-3">
                    <div class="rounded-circle bg-success overflow-hidden pt-1 d-inline-block px-5 pt-4">
                        <img src="~/images/avatar.png" class="mt-1" width="145px" alt="biosolindia" />
                    </div>
                </div>
                <div>
                    <h6>Team Member</h6>
                    <p>About him</p>
                    <p class="lead">
                        Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of your
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="mr-3">
                    <div class="rounded-circle bg-primary overflow-hidden pt-1 d-inline-block px-5 pt-4">
                        <img src="~/images/avatar.png" class="mt-1" width="145px" alt="biosolindia" />
                    </div>
                </div>
                <div>
                    <h6>Team Member</h6>
                    <p>About him</p>
                    <p class="lead">
                        Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of your
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="mr-3">
                    <div class="rounded-circle bg-warning overflow-hidden pt-1 d-inline-block px-5 pt-4">
                        <img src="~/images/avatar.png" class="mt-1" width="145px" alt="biosolindia" />
                    </div>
                </div>
                <div>
                    <h6>Team Member</h6>
                    <p>About him</p>
                    <p class="lead">
                        Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of your
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-light  border-bottom border-success">
        <div class="container py-4">
            <div class="row">
                <h4 class="col-12 col-lg-4 text-center text-lg-right pt-3">
                    Subscribe Newsletter
                </h4>
                <div class="col-12 col-lg-5">
                    <form class="bg-white rounded-lg border d-flex overflow-hidden p-1">
                        <input type="text" class="border-0 shadow-none py-3 w-100 px-2"
                               placeholder="Enter your email address..." />
                        <button class="bg-info text-white rounded border-0 font-weight-bold px-4">
                            Subscribe

                        </button>
                    </form>
                </div>
                <div class="col-12 col-lg-3 border-left border-success">
                    <p class="mb-1">Call For Any Questions?</p>
                    <h4 class="text-success font-weight-bold">+91 - 000-000-0000</h4>
                </div>
            </div>
        </div>

    </div>


    @*<div class="container-fluid p-5 bg-light">
            <div class="row">
                <div class="col-md-6 shadow">
                    <h2>Getting started</h2>
                    <p class="text-justify">
                        BIOSOL INDIA was established in 2012 by a team of aquaculture expertise with a transcend vision of attaining
                        world class products through the firm commitment and continuous effort in a teamwork.
                    </p>
                    <p><a class="btn btn-outline-primary" href="/Home/About">Read More &raquo;</a></p>
                </div>

                <div class="col-md-6 shadow">
                    <h2>Contact Details</h2>
                    <p>
                        <img src="~/Images/BioSol_IndiaBanner.JPG" class="img-fluid" alt="" />
                    </p>
                    <p><a class="btn btn-outline-primary" href="/Home/Contact">Read More &raquo;</a></p>
                </div>
            </div>

            <div class="row">
                <h2 class="bg-info text-white w-100 p-2 text-center">Our Products </h2>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 shadow p-2">
                    <header>
                        <h2>GUTBALANCE</h2>
                        <h4><small>For Gut Infection in Shrimp(Feed Supplement)</small></h4>
                    </header>
                    <img src="~/Images/Gutbalance_biosol_india.JPG" alt="" class="img-fluid" />
                    <p>
                        <b>CONSTITUENTS</b><br />
                        <i>A blend of Herbal Extracts, Vitamins & Minerals</i>
                    </p>
                    <a href="/Home/Products/#GUTBALANCE" class="btn btn-outline-primary float-right">Read More..</a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 shadow p-2">
                    <header>
                        <h2>BIONUTRIZYME</h2>
                        <h4><small> Enzymes, Vitamins & Minerals(Feed Supplement)</small></h4>
                    </header>
                    <img src="~/Images/Bionutrizyme_biosol_india.JPG" alt="" class="img-fluid" />
                    <p>
                        <b>CONSTITUENTS</b><br />
                        <i>Amino acids, Minerals, Vitamins & Phytonutrients.</i>
                    </p>
                    <a href="/Home/Products/#BIONUTRIZYME" class="btn btn-outline-primary float-right">Read More..</a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 shadow p-2">
                    <header>
                        <h2>BIOSANTRA-AQUA</h2>
                        <h4><small>DISINFECTANT FOR SHRIMP PONDS</small></h4>
                    </header>
                    <img src="~/Images/Biosantra_Aqua_biosol_india.JPG" alt="" class="img-fluid" />
                    <p>
                        <b>CONSTITUENTS</b><br />
                        <i> Potassium monopersulphate compound</i>
                    </p>
                    <a href="/Home/Products/#BIOSANTRA" class="btn btn-outline-primary float-right">Read More..</a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 shadow p-2">
                    <header>
                        <h2>ZEONEXT</h2>
                        <h4><small>ZEOLITE FOR SHRIMP CULTURE</small></h4>
                    </header>
                    <img src="~/Images/Zeonext_biosole_india.JPG" alt="" class="img-fluid" />
                    <p>
                        <b>CONSTITUENTS</b><br />
                        <i>SiO2,Al2O2,CaO,Fe2O2,MgO,Na2O etc.</i>
                    </p>
                    <a href="/Home/Products/#ZEONEXT" class="btn btn-outline-primary float-right">Read More..</a>
                </div>
            </div>
        </div>*@
  