
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/main.css" />
<noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
<!-- Main -->
<div id="main" class="p-5">
    <div class="text-center bg-info p-2 text-white">
        <h2 style="text-align: center;">Our Services</h2>
    </div>
    <!-- Posts -->
    <section class="posts">
        <article id="GUTBALANCE">
            <header>
                <h2>GUTBALANCE</h2>
                <h3><small>For Gut Infection in Shrimp(Feed Supplement)</small></h3>
            </header>
            <a href="#" class="image fit">
                <img src="~/Images/Gutbalance_biosol_india.JPG" alt="" />
                </a>
                <p>
                    <b>CONSTITUENTS</b><br />
                    <i>A blend of Herbal Extracts, Vitamins & Minerals</i>
                </p>
                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#GUTBALANCE_2">Read More</a></li>
                </ul>
                <div id="GUTBALANCE_2" class="collapse">
                    <h3>KEY FEATURES & BENEFITS</h3>
                    <ul style="text-align:left;">
                        <li>Enhances immune system & FCR.</li>
                        <li>Prevents & cures white gut & white fecal syndrome in shrimp.</li>
                        <li>Enhances beneficial bacterial population in gut.</li>
                        <li>Helps to improve digestion & nutrients utilization.</li>
                        <li>Sustains immune against microbial infections mainly in the gut.</li>
                    </ul>
                    <h3>DOSAGE</h3>
                    <p>
                        5 – 10 gms/kg feed with good binder.
                    </p>
                    <h3>STORAGE</h3>
                    <p>
                        <ul style="text-align:left;">
                            <li>Store in cool & dry place.</li>
                            <li>Keep away from heat & moisture.</li>
                        </ul>
                    </p>
                    <h3>PRESENTATION</h3>
                    <p>500 gms & 1 kg</p>
                    <ul class="actions special">
                        <li><a class="button" data-toggle="collapse" data-target="#GUTBALANCE_2">Hide Content</a></li>
                    </ul>
                </div>

</article>
        <article id="BIONUTRIZYME">
            <header>
                <h2>BIONUTRIZYME</h2>
                <h3><small> Enzymes, Vitamins & Minerals(Feed Supplement)</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Bionutrizyme_biosol_india.png" alt="" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>Amino acids, Minerals, Vitamins & Phytonutrients.</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIONUTRIZYME_2">Read More</a></li>
            </ul>
            <div id="BIONUTRIZYME_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Improves Digestion & absorption of Nutrients.</li>
                    <li>To improve calcium and phosphorus absorption and utilization.</li>
                    <li>Enhances immune system.</li>
                    <li>Increases feed intake & FCR.</li>
                    <li>Sustains as source of energy in the shrimp.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    20 ml/kg feed or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>5 Ltrs.</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIONUTRIZYME_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="BIOSANTRA">
            <header>
                <h2>BIOSANTRA-AQUA</h2>
                <h3><small>DISINFECTANT FOR SHRIMP PONDS</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Biosantra_Aqua_biosol_india.JPG" alt="" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i> Potassium monopersulphate compound</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIOSANTRA_2">Read More</a></li>
            </ul>
            <div id="BIOSANTRA_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Sustains good water quality for pond eco system.</li>
                    <li>Severely effective against bacteria, viruses & fungi.</li>
                    <li>Oxidize toxic gases like hydrogen sulphide, ammonia etc.</li>
                    <li>Degrades bottom sludge and maintain water quality.</li>
                    <li>Biodegradable & non toxic.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    500 gms/acre in normal condition and 1 kg in severe condition.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>1 kg</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIOSANTRA_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="ZEONEXT">
            <header>
                <h2>ZEONEXT</h2>
                <h3><small>ZEOLITE FOR SHRIMP CULTURE</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Zeonext_biosole_india.JPG" alt="" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>SiO2,Al2O2,CaO,Fe2O2,MgO,Na2O etc.</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#ZEONEXT_2">Read More</a></li>
            </ul>
            <div id="ZEONEXT_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>
                        ZeoNext absorbs toxic gases like ammonia, Hydrogen sulphide and nitrite.
                    </li>
                    <li>Provides micronutrients in the pond water.</li>
                    <li>Enhances dissolved oxygen, softens water and sustain pH.</li>
                    <li>
                        Absorbs odour harmful bacteria, suspended solids,waste & dirty material etc.
                    </li>
                    <li>
                        Helps to clean the pond by increasing growth and reproduction of plankton.
                    </li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    10 kg/acre or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Store in cool & dry place.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>25 kg</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#ZEONEXT_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="PROBIND">
            <header>
                <h2>
                         PROBIND GEL
                </h2>
                <h3><small>
    A BINDER GEL PREMIX WITH PROTEIN
    & VITAMINS (Feed Supplement)
</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Probind_gel_biosol_india.JPG" alt="" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>Combination of concentrated protein, carotenoids & vitamins.</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#PROBIND_2">Read More</a></li>
            </ul>
            <div id="PROBIND_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Superb water stability.</li>
                    <li>Enhances digestive system and improve feed intake.</li>
                    <li>
                        Enhanced with minerals, vitamins, attractants, carotenoids & herbal growth promoters.
                    </li>
                    <li>
                        Outstanding binding capability & extreme protection from leaching.
                    </li>
                    <li>Excellent feed attraction which reduces feed wastage.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    20 ml/kg feed or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>25 Ltrs</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#PROBIND_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="BIOPROBAC">
            <header>
                <h2>BIOPROBAC</h2>
                <h3><small>POND PROBIOTIC FOR WATER & SOIL</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Bioprobac_biosole_india.JPG" alt="" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>Nitrobacteria, Lactobacillus, Actinomycetes etc.</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIOPROBAC_2">Read More</a></li>
            </ul>
            <div id="BIOPROBAC_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Excellently works on both medium water & soil in the pond.</li>
                    <li>Prevents pathogenic bacteria, specifically vibrio in the pond.</li>
                    <li>Increases the growth of beneficial bacteria & phytoplankton.</li>
                    <li>Enhances water purification process through slugs degradation.</li>
                    <li>Prevents formation of toxic gases & improves survival.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    500 gms/acre or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>500 gms & 1Kg</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIOPROBAC_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="BIOMIN">
            <header>
                <h2>BIOMIN PLUS</h2>
                <h3><small>MINERALS SUPPLEMENT</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Biomin_Plus_biosol_india.JPG" alt="" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>Trace minerals and ions with organic modifier</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIOMIN_2">Read More</a></li>
            </ul>
            <div id="BIOMIN_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Easy solubility in pond water & bio-availability.</li>
                    <li>Sustains perfect acid-base equilibrium in the ponds.</li>
                    <li>Enhances moulting frequency.</li>
                    <li>Prevents loose shell & soft shell.</li>
                    <li>Maintains pH, hardness, alkalinity & nutrients need.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    5 kg/acre or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>10Kg</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIOMIN_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="BIODSTRESS">
            <header>
                <h2>
                        BIODSTRESS 
                </h2>
                <h3><small>
    SPECIALLY FOR LSS & STRESS MANAGEMENT (Feed Supplement)
</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Biodstress_biosol_india.JPG" alt="Electrocardiography" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>Enzymes, Vitamins, Proteins, Fatty acids, Minerals etc.</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIODSTRESS_2">Read More</a></li>
            </ul>
            <div id="BIODSTRESS_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Works effectively against loose shell & white guts.</li>
                    <li>Improves digestion of feed in shrimp.</li>
                    <li>Maximize feed intake and minimize feed wastage.</li>
                    <li>Enhances growth rate.</li>
                    <li>Maintain good health which prevents stress to the shrimp</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    5 to 10 gms/kg feed or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>1Kg</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIODSTRESS_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="BIOO2PLUS">
            <header>
                <h2>BIO O2 PLUS</h2>
                <h3><small>Granules D.O.ENHANCER</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Bio_O2_Plus_Biosole_india.JPG" alt="Nutritional Counseling" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>Peroxide & Perborate Compound</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIOO2PLUS_2">Read More</a></li>
            </ul>
            <div id="BIOO2PLUS_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>
                        Delivers Oxygen rapidly and enhances D.O. level in the pond water
                    </li>
                    <li>Extends appropriate D.O. level for a long period.</li>
                    <li>Mainly Effective on broad range of salinity, pH & temperature.</li>
                    <li>
                        Minimize toxic gases like hydrogen sulphide,nitrite etc in the pond water.
                    </li>
                    <li>Sustains an ideal eco system for the shrimp culture.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    1 kg/acre or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>5 Kg</p>

                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIOO2PLUS_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
        <article id="BIOKILLON">
            <header>
                <h2>BIOKILLON</h2>
                <h3><small>A UNQUE ANTIMICROBIAL DISINFECTANT</small></h3>
            </header>
            <a href="#" class="image fit"><img src="~/Images/Biokillon_biosol_india_1.JPG" alt="Bathing and Grooming" /></a>
            <p>
                <b>CONSTITUENTS</b><br />
                <i>An organic compound</i>
            </p>
            <ul class="actions special">
                <li><a class="button" data-toggle="collapse" data-target="#BIOKILLON_2">Read More</a></li>
            </ul>
            <div id="BIOKILLON_2">
                <h3>KEY FEATURES & BENEFITS</h3>
                <ul style="text-align:left;">
                    <li>Effective against microbial like bacteria, viruses & fungi etc.</li>
                    <li>Minimizes the risk of microbial infection in the shrimp .</li>
                    <li>Oxidizes toxic gases in the pond water.</li>
                    <li>Maintains a healthy pond eco system.</li>
                    <li>Sustains effective sanitation.</li>
                </ul>
                <h3>DOSAGE</h3>
                <p>
                    2 Ltrs/acre or as advised by the aqua consultant.
                </p>
                <h3>STORAGE</h3>
                <p>
                    <ul style="text-align:left;">
                        <li>Store in cool & dry place.</li>
                        <li>Keep away from heat & moisture.</li>
                    </ul>
                </p>
                <h3>PRESENTATION</h3>
                <p>5 Ltrs & 10 Ltrs</p>
                <a href="#" class="image fit"><img src="~/Images/Biokillon_biosol_india_2.JPG" alt="Bathing and Grooming" /></a>
                <ul class="actions special">
                    <li><a class="button" data-toggle="collapse" data-target="#BIOKILLON_2">Hide Content</a></li>
                </ul>
            </div>
        </article>
    </section>
</div>

<!-- Scripts -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/jquery.scrolly.min.js"></script>
<script src="~/Scripts/browser.min.js"></script>
<script src="~/Scripts/breakpoints.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>